html {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

#content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 20px;
}

#treemap {
    overflow: visible;
    width: 80vw;
    height: 80vh;
    margin-left: 70px;
}

#info-panel {
    position: fixed;
    align-items: center;
    top: 55px;
    width: 1200px;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    transition: all 0.3s ease;
}

#panel-message {
    margin: 0;
    font-weight: bold;
}

#close-panel {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #f0f0f074;
    color: rgb(253, 4, 4);
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
}

#outcome-colors div {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#outcome-colors div span {
    margin-left: 10px;
}

#outcome-colors .color-square {
    width: 20px;
    height: 20px;
    border-radius: 3px;
}

#search-container {
    position: absolute;
    top: 200px;
    left: 20px;
    display: flex;
    align-items: center;
}

#search-bar {
    width: 120px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    outline: none;
}

#search-bar::placeholder {
    color: #999;
}

#search-dropdown {
    display: none;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    position: absolute;
    width: 120px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#search-dropdown strong {
    font-size: 14px;
}

#search-dropdown br {
    line-height: 1.5;
}

.product-outer {
    stroke: rgb(255, 255, 255);
    stroke-width: 0.1px;
    fill: rgb(255, 255, 255);
}

@keyframes beat {
    0% {
        stroke-width: 2px;
    }
    50% {
        stroke-width: 10px;
    }
    100% {
        stroke-width: 2px;
    }
}

.beating {
    animation: beat 1s infinite;
    stroke: rgb(0, 0, 0);
}

#legend-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.legend circle, .legend rect {
    stroke: #000;
    stroke-width: 1px;
}

.legend text {
    font-family: Arial, sans-serif;
    fill: #000;
}

#navigation-instructions {
    position: absolute;
    right: 5px;
    top: 500px;
    text-align: right;
    color: rgb(68, 68, 68);
}

#navigation-instructions p {
    margin: 0;
    padding: 0;
    font-size: 15px;
}

#info-svg-container {
    width: 90vw;
    height: 180vh;
    margin-top: 20px;
    background-color: #ffffff;
    border: 0px solid #040303;
}

#info-svg {
    width: 100%;
    height: 100%;
}

.highlighted {
    transform-origin: 50% 50%;
    transform: scale(2);
    transition: transform 0.3s ease;
}

.faded {
    opacity: 0.2;
    pointer-events: none;
}

#slider-container {
    width: 40vw;
    text-align: center;
    margin-bottom: 20px;
}

#report-count {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

#report-slider {
    width: 60%;
    height: 8px;
    border-radius: 5px;
    background: linear-gradient(to right, #d5d5d5, #7a7a54, #62ab5d, #5c9596, #589b90);
    outline: none;
    -webkit-appearance: none;
    appearance: none;
}

#report-slider::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    background: linear-gradient(to right, #7a5353, #454e4e);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
}

#report-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: linear-gradient(to right, #ff0000, #00fbff);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

#timeline-container {
    width: 80vw;
    margin-top: 20px;
    margin-bottom: 40px;
    left: 35px;
    position: relative;
}

#timeline-bar {
    position: relative;
    width: 100%;
    height: 40px;
    background-color: #e0e0e000;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
}

#timeline-bar svg {
    position: absolute;
    background-color: #ffffff;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    z-index: 1;
    border-radius: 5px;
}

#selected-range {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 8px;
    background-color: rgba(255, 255, 255, 0);
    z-index: 2;
    pointer-events: none;
    border-radius: 4px;
    transition: left 0.2s ease, width 0.2s ease;
}

.handle {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 32px;
    border-radius: 0%;
    background-color: #fff;
    border: 2px solid #ff8686;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    z-index: 3;
    transition: left 0.2s ease;
}

.handle:hover {
    background-color: #f0f0f0;
}

.date-display {
    position: absolute;
    bottom: auto;
    transition: left 0.2s ease, top 0.2s ease, transform 0.2s ease;
    z-index: 4;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    background: rgba(255, 255, 255, 0.9);
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 12px;
    color: #000;
    white-space: nowrap;
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 6px;
    font: 12px sans-serif;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    border: 0px;
    border-radius: 4px;
    pointer-events: none;
}

.detail-box {
    font: 14px sans-serif;
    width: 180px;
    background-color: #ffffffdd;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.medical-product {
    color: lightblue;
    font-weight: bold;
}

.dosage {
    color: lightyellow;
    font-weight: bold;
}

.treatment-duration {
    color: #D8BFD8;
    font-weight: bold;
}

.start-date {
    color: lightpink;
    font-weight: bold;
}

.end-date {
    color: #FF1493;
    font-weight: bold;
}

.indications {
    color: lightgreen;
    font-weight: bold;
}

.reactions {
    color: lightcoral;
    font-weight: bold;
}

.circular-slider-track {
    fill: linear-gradient(to right, #d5d5d5, #7a7a54, #62ab5d, #5c9596, #589b90);
    stroke-width: 2;
}

.circular-slider-selection {
    fill-opacity: 0;
    pointer-events: none;
}

.circular-slider-handle.beating {
    animation: beat 1s infinite;
}

.circular-slider-handle:hover {
    fill: #f0f0f0;
}

.circular-slider-handle.sex-handle {
    stroke: #ff9676;
}

.circular-slider-handle.active {
    fill: #000000;
    stroke: #ff562200;
}

.slider-label {
    font-size: 12px;
    fill: #000000;
    text-anchor: middle;
    -o-table-baseline: middle;
}

.circular-slider-selection {
    stroke: rgba(255, 255, 255, 0);
    stroke-width: 20;
    opacity: 0.7;
}

#sankey-container {
    align-items: center;
    margin-left: 100px;
    margin-top: 50px;
    margin-right: 50px;
    width: 100%;
    height: auto;
    overflow: auto;
}

#filter-container {
    position: absolute;
    left: 0px;
    top: 350px;
    width: 120px;
    height: 450px;
    background: #ffffff00;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 6px;
    font: 12px sans-serif;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    border: 0px;
    border-radius: 4px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
}

.detail-box {
    position: absolute;
    background-color: #ffffffdd;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    font: 14px sans-serif;
}

@media screen and (max-width: 1600px) {
    #sankey-container {
        margin-left: 50px;
        margin-right: 50px;
    }
}